body, html {
    height: 100%;
}

.container-fluid{
  background-color: #FFFFFF;
  min-height: 100%;
  padding: 0 0 0 0;
}

.title-bar{
  height:80px;
  min-width: 500px;
  background: #4d4d4d;
}

.title-header{
  line-height: 70px;
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 3.5rem;
  display: inline-block;
  vertical-align: center;
  padding-left: 10px;
}

.title-menu{
  height: 2.5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  display: inline-block;
  padding-bottom: 5px;
}

.title-logo{
  display:inline-block;
  height: 60px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.title-right{
  float:right;
  padding-right: 3rem;
}

.title-settings{
  height:30px;
  padding-top:5px;
}

.header-block{
  background-color: #FFFFFF;
}

.header-content{
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
  padding: 15px 50px;
}

.header-content> h1{
  padding-top: 0px;
  padding-left: 0px;
}

.header-text{
  font-size: 2rem;
  font-style: italic;
}

.body-content{
  max-width: 1000px;
  min-width: 500px;
  min-height: 300px;
  max-height: 300px;
  margin: auto;
  padding: 10px 15px;
}

.body-content-reports{
  background-color: #e6e6e6;
  /* max-width: 1000px;
  min-width: 500px;
  min-height: 300px; */
  margin: auto;
  padding: 10px 15px;
}

.table-content{
  border-color: #000000;
  max-width: 1000px;
  max-height: 100px;
  min-height: 100px;
  /* min-width: 500px; */
  margin: auto;
  padding: 15px 10px;
}

#testText{
  width:100%;
  height:100%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #595959;
  border-color: #595959;
}

.pagination>li>a, .pagination>li>span {
    border: 0px;
}

.button-noformat{
  border: none;
  background-color: transparent;
}

.button-noformat:focus{
  outline:0;
}

.header-col-left{
  width:50%;
  display: inline-block;
}

.header-col-right{
  width:50%;
  display: inline-block;
}

.label{
  font-size: 15px;
  color: #000000
}

.btn{
  background-color: #4d4d4d;
  color: #FFFFFF;
  font-size: 20px;
}

.btn-label{
  padding: 10px;
}

.btn-label{
  height:20px;
}

.btn-header{
  background: #4d4d4d;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: #FFFFFF;
  height: 70px;
  width:100%;
}

.btn-header:hover{
  background: #F3F3F3;
  color: #000000;
}

.btn-dashboard{
  margin: 70px 10px 10px 10px;
}

.btn-search{
  margin: 15px 10px 10px 10px;
  width: 200px;
  float: right;
}

#div-service{
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  padding-top: 50px;
}

#resetButton{
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.span-status{
  /* background-color: #315C72; */
  max-width: 1000px;
  min-width: 1000px;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  padding-top: 20px;
}

.table{
  background-color: #4d4d4d;
  color: #FFFFFF;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.table tbody{
  background-color: #FFFFFF;
  color: #4d4d4d;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.table-reports{
  background-color: #4d4d4d;
  color: #FFFFFF;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

table td.expand {
    width: 50%
}

.table tr td{
  text-align: center;
  border:solid 1px;
  white-space:nowrap
}

.table tr th{
  text-align: center;
  border:solid 1px white;
  white-space:nowrap
}

.table1{
  background-color: #FFFFFF;
  color: #4d4d4d;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  border:solid 1px;
}

.table1 tr th{
  background-color: #4d4d4d;
  color: #FFFFFF;
  text-align: center;
  border:solid 1px;
}

table.dataTable{
  word-break: break-all;
  border: 1px solid white;
}

.row-padding{
  padding: 0 15px 0 15px;
}

.logo-container{
  min-height: 50px;
  max-height: 50px;
}

.btn-cancel{
  background-color: #929292;
  border-color: #6C6C6C;
  color: #000000;
  font-weight: bold;
}

.btn-cancel:hover{
  background-color: #BFBCBC;
}

.btn-modal{
  margin: 0 5px 0 5px;
  height: 40px;
  width: 100px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.modal-body{
  font-size: 2rem;
  padding: 50px;
  text-align: center;
}

.bold{
  font-weight: bold;
}

.up{
  color:#18C925;
}

.down{
  color:#F11E1E;
}

.file-input{
  padding: 50px;
}
